.every-component {
    height: 92vh;
}

span {
    font-size: medium;
}

mat-card {
    width: 60%;
    align-self: center;
    padding: 5%;
    margin: 5%;
}

@media (max-width: 800px) {
    mat-card {
        width: 90%;
        align-self: center;
        padding: 5%;
        margin: 5%;
    }
}
