.every-component {
    height: 92vh;
}

.outerActionButtonsDiv {
    width: 50%;
    padding: 2%;
}

.actionButtonsDiv {
    margin: 1% !important;
    width: 100%;
}

.actionButtons {
    width: 100% !important;
}
